In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("bank-data.csv")

In [3]:
df

     age            job  marital    y
0     20        student   single  yes
1     32     management   single  yes
2     49     technician  married  yes
3     32    blue-collar  married  yes
4     33     management  married  yes
..   ...            ...      ...  ...
442   26     technician   single  yes
443   60  self-employed  married  yes
444   42    blue-collar   single  yes
445   32         admin.   single  yes
446   46    blue-collar  married  yes

[447 rows x 4 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447 entries, 0 to 446
Data columns (total 4 columns):
age        447 non-null int64
job        447 non-null object
marital    447 non-null object
y          447 non-null object
dtypes: int64(1), object(3)
memory usage: 14.1+ KB

In [5]:
df1=df.job.unique()
print(df1)

['student' 'management' 'technician' 'blue-collar' 'admin.' 'services'
 'self-employed' 'entrepreneur' 'housemaid']

In [11]:
profession= input("Enter a profession you are looking for:")
for i in range(len(df1)):
    if (df1[i]==profession):
        print("You are eligible to be a", profession)
        break

    elif (i == len(df1)-1 and df1[i]!=profession):
        print("You are not eligible to be a", profession)

Enter a profession you are looking for:worker
You are not eligible to be a worker